html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
}

body {
	height: 99%;
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	border-radius: 0px 0px 5px 5px;
}

.fon {
	background-color: white;
	margin-left: 33%;
	margin-top: 3px;
	padding-left: 40px;
	padding-right: 40px;
	width: 27%;
	height: 95%;
}

h3 {
	text-align: center;
}

img {
	width: 100px;
	height: 110px;
	position: relative;
	margin-left: 32%;
}

.student,
.frontend,
.contact {
	border-bottom: 1px solid black;
}


.student,
.frontend,
.contact,
.feedback {
	padding-left: 10px;
}